
@{
    ViewBag.Title = "DevLinks";
}

<h2>DevLinks</h2>
<div class="page-header">
    <h1>Development Links</h1>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Links:<span class="text-muted"> useful web dev links</span></h2>
            <ul>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="http://jquery.com/">jQuery</a></li>
                <li><a href="http://jqueryui.com/">jQuery UI</a></li>
                <li><a href="https://phpunit.de/">PHPUnit</a></li>
                <li><a href="https://puphpet.com/#frontpage">PuPHPet</a></li>
                <li><a href="https://www.vagrantup.com/">Vagrant</a></li>
                <li><a href="http://framework.zend.com/">Zend framework 2</a></li>
            </ul>
            <div class="wrap">
                <iframe class="frame" src="http://time.is"></iframe>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->


</div>
