
<div>
    <h2>Websites</h2>
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.54sqnrct.co.uk" scrolling="no"></iframe>
        </div>
        <h3>54 Sqn RCT</h3>
        <p>Dispanded army unit website.</p>
        <p><a class="btn btn-default" href="http://www.54sqnrct.co.uk" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.b4tech.co.uk" scrolling="no"></iframe>
        </div>
        <h3>B4TECH</h3>
        <p>This website, built in .net to enable me to learn.</p>
        <p><a class="btn btn-default" href="http://www.b4tech.co.uk" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.caldecottlodge.co.uk" scrolling="no"></iframe>
        </div>
        <h3>Caldecott lodge</h3>
        <p>Norfolk holiday home.</p>
        <p><a class="btn btn-default" href="http://www.caldecottlodge.co.uk" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.celebrationinnovations.co.uk/" scrolling="no"></iframe>
        </div>
        <h2>Celebration Innovations</h2>
        <p>Local company that provides all the nice things for weddings and partys.</p>
        <p><a class="btn btn-default" href="http://www.celebrationinnovations.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.emmafordycemacrae.com" scrolling="no"></iframe>
        </div>
        <h2>Emma Fordyce MacRae</h2>
        <p>Information about 20th centuary artist Emma Fordyce MacRae.</p>
        <p><a class="btn btn-default" href="http://www.emmafordycemacrae.com" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.oldjoesphotos.co.uk/" scrolling="no"></iframe>
        </div>
        <h2>Old Joes Photos</h2>
        <p>Photo gallery, nicely broken down into albums. Lots of local content.</p>
        <p><a class="btn btn-default" href="http://www.oldjoesphotos.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.paddylewis.co.uk/" scrolling="no"></iframe>
        </div>
        <h2>Paddy Lewis</h2>
        <p>Another of my websites.</p>
        <p><a class="btn btn-default" href="http://www.paddylewis.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.pagancomputers.co.uk/" scrolling="no"></iframe>
        </div>
        <h2>Pagan Computers</h2>
        <p>Now redirected to this website.</p>
        <p><a class="btn btn-default" href="http://www.pagancomputers.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.parquesantiago1.co.uk" scrolling="no"></iframe>
        </div>
        <h2>Parque Santiago 1</h2>
        <p>Holiday home in the Canary islands.</p>
        <p><a class="btn btn-default" href="http://www.parquesantiago1.co.uk" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.paxplace.co.uk/" scrolling="no"></iframe>
        </div>
        <h2>Pax Place</h2>
        <p>Holiday home in Portloe, Cornwall.</p>
        <p><a class="btn btn-default" href="http://www.paxplace.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.sarahcunliffe.co.uk/" scrolling="no"></iframe>
        </div><h2>Sarah Cunliffe</h2>
        <p>Emotional Therapeutic Counsellor's website.</p>
        <p><a class="btn btn-default" href="http://www.sarahcunliffe.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.spa-n-a-box-clp.co.uk/store/" scrolling="no"></iframe>
        </div>
        <h2>Spa N A Box CLP</h2>
        <p>eCommerce site selling hot tubs and chemicals.</p>
        <p><a class="btn btn-default" href="http://www.spa-n-a-box-clp.co.uk/store/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.somerset-hottubs.co.uk/" scrolling="no"></iframe>
        </div>
        <h2>Somerset Hot Tubs</h2>
        <p>Hot tub website.</p>
        <p><a class="btn btn-default" href="http://www.somerset-hottubs.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.tyndalephoto.org/" scrolling="no"></iframe>
        </div>
        <h2>Tynedalephoto</h2>
        <p>Local photography club.</p>
        <p><a class="btn btn-default" href="http://www.tyndalephoto.org/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

<hr>
<div>
    <h2>Applications</h2>
</div> <hr>
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" style="border:1px black solid;" src="../assets/images/porfolio/wms.png" alt="Generic placeholder image" width="150" height="150">
        <h2>Workforce Management Solution</h2>
        <p>Unlike a swimming pool a Swimspa is easy to install (same day), less expensive to run than a swimming pool as they are &nbsp;insulated, safe, easy to use all year round. Unlike a pool you can take it with you if you move house. It will never be a liability in a house sale! You can do much much&nbsp; more than just swim in a swim spa it&rsquo;s&nbsp; a home aquatic exercise centre all in the privacy and comfort of your own home.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>