
@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<div>
    <h2>Websites</h2>
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.54sqnrct.co.uk"></iframe>
        </div>
        <h3>54 Sqn RCT</h3>
        <p>Dispanded army unit websie, built so that members of the unit can keep in touch and share memories.</p>
        <p><a class="btn btn-default" href="http://www.54sqnrct.co.uk" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.celebrationinnovations.co.uk/"></iframe>
        </div>
        <h2>Celebration Innovations</h2>
        <p>As a leading brand in hot water and lifestyle products Vita Spa&rsquo;s&nbsp;has continually challenged the design of it&rsquo;s products and the status quo of the hot water products industry. Engineered to optimize your hydrotherapy experience, we&rsquo;ve designed seats based on the basic principles of massage therapy-rolling, kneading, compression and percussion. All Vita spas are built to Appliance Grade Standard.</p>
        <p><a class="btn btn-default" href="http://www.celebrationinnovations.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.emmafordycemacrae.com"></iframe>
        </div>
        <h2>Emma Fordyce MaCrae</h2>
        <p>We stock a wide variety of hot tub sanitisers and treatments, from non Chlorine treatments through to the traditional Bromine &amp; Cholorine treatments including in the summer months pool chemicals.</p>
        <p><a class="btn btn-default" href="http://www.emmafordycemacrae.com" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

<hr>

<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.oldjoesphotos.co.uk/"></iframe>
        </div>
        <h2>Old Joes Photos</h2>
        <p>Unlike a swimming pool a Swimspa is easy to install (same day), less expensive to run than a swimming pool as they are &nbsp;insulated, safe, easy to use all year round. Unlike a pool you can take it with you if you move house. It will never be a liability in a house sale! You can do much much&nbsp; more than just swim in a swim spa it&rsquo;s&nbsp; a home aquatic exercise centre all in the privacy and comfort of your own home.</p>
        <p><a class="btn btn-default" href="http://www.oldjoesphotos.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.paddylewis.co.uk/"></iframe>
        </div>
        <h2>Paddy Lewis</h2>
        <p>As a leading brand in hot water and lifestyle products Vita Spa&rsquo;s&nbsp;has continually challenged the design of it&rsquo;s products and the status quo of the hot water products industry. Engineered to optimize your hydrotherapy experience, we&rsquo;ve designed seats based on the basic principles of massage therapy-rolling, kneading, compression and percussion. All Vita spas are built to Appliance Grade Standard.</p>
        <p><a class="btn btn-default" href="http://www.paddylewis.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.pagancomputers.co.uk/"></iframe>
        </div>
        <h2>Pagan Computers</h2>
        <p>We stock a wide variety of hot tub sanitisers and treatments, from non Chlorine treatments through to the traditional Bromine &amp; Cholorine treatments including in the summer months pool chemicals.</p>
        <p><a class="btn btn-default" href="http://www.pagancomputers.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

<hr>

<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://time.is"></iframe>
        </div>
        <h2>Parque Santiago 1</h2>
        <p>Unlike a swimming pool a Swimspa is easy to install (same day), less expensive to run than a swimming pool as they are &nbsp;insulated, safe, easy to use all year round. Unlike a pool you can take it with you if you move house. It will never be a liability in a house sale! You can do much much&nbsp; more than just swim in a swim spa it&rsquo;s&nbsp; a home aquatic exercise centre all in the privacy and comfort of your own home.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.paxplace.co.uk/"></iframe>
        </div>
        <h2>Pax Place</h2>
        <p>As a leading brand in hot water and lifestyle products Vita Spa&rsquo;s&nbsp;has continually challenged the design of it&rsquo;s products and the status quo of the hot water products industry. Engineered to optimize your hydrotherapy experience, we&rsquo;ve designed seats based on the basic principles of massage therapy-rolling, kneading, compression and percussion. All Vita spas are built to Appliance Grade Standard.</p>
        <p><a class="btn btn-default" href="http://www.paxplace.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" style="border:1px black solid;" src="../assets/images/porfolio/sarahcunliffe.png" alt="Generic placeholder image" width="150" height="150">
        <h2>Sarah Cunliffe</h2>
        <p>We stock a wide variety of hot tub sanitisers and treatments, from non Chlorine treatments through to the traditional Bromine &amp; Cholorine treatments including in the summer months pool chemicals.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

<hr>

<div class="row">
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://time.is"></iframe>
        </div>
        <h2>Spa N A Box CLP</h2>
        <p>Unlike a swimming pool a Swimspa is easy to install (same day), less expensive to run than a swimming pool as they are &nbsp;insulated, safe, easy to use all year round. Unlike a pool you can take it with you if you move house. It will never be a liability in a house sale! You can do much much&nbsp; more than just swim in a swim spa it&rsquo;s&nbsp; a home aquatic exercise centre all in the privacy and comfort of your own home.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.somerset-hottubs.co.uk/"></iframe>
        </div>
        <h2>Somerset Hot Tubs</h2>
        <p>As a leading brand in hot water and lifestyle products Vita Spa&rsquo;s&nbsp;has continually challenged the design of it&rsquo;s products and the status quo of the hot water products industry. Engineered to optimize your hydrotherapy experience, we&rsquo;ve designed seats based on the basic principles of massage therapy-rolling, kneading, compression and percussion. All Vita spas are built to Appliance Grade Standard.</p>
        <p><a class="btn btn-default" href="http://www.somerset-hottubs.co.uk/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="wrap">
            <iframe class="frame" src="http://www.tyndalephoto.org/"></iframe>
        </div>
        <h2>Tynedalephoto</h2>
        <p>We stock a wide variety of hot tub sanitisers and treatments, from non Chlorine treatments through to the traditional Bromine &amp; Cholorine treatments including in the summer months pool chemicals.</p>
        <p><a class="btn btn-default" href="http://www.tyndalephoto.org/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

<hr>
<div>
    <h2>Applications</h2>
</div> <hr>
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" style="border:1px black solid;" src="../assets/images/porfolio/wms.png" alt="Generic placeholder image" width="150" height="150">
        <h2>Workforce Management Solution</h2>
        <p>Unlike a swimming pool a Swimspa is easy to install (same day), less expensive to run than a swimming pool as they are &nbsp;insulated, safe, easy to use all year round. Unlike a pool you can take it with you if you move house. It will never be a liability in a house sale! You can do much much&nbsp; more than just swim in a swim spa it&rsquo;s&nbsp; a home aquatic exercise centre all in the privacy and comfort of your own home.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div>

<hr>