<div class="row">
    <div class="col-md-12">
        <h2>Links:<span class="text-muted"> useful web dev links</span></h2>
        <ul>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        </ul>
    </div>
</div>
