@{
    ViewBag.Title = "Linux command line";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="page-header">
    <h1>Command line</h1>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Command line <span class="text-muted">commands</span></h2>
            <p>Use the following commands.</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Cron <span class="text-muted">commands</span></h2>
            <p>Use the following commands to set up and maintain the cronjob.</p>
            <ul>
                <li><code>crontab -l</code>  -  list cronjobs</li>
                <li><code>crontab -e</code>  -  edit cronjobs</li>
                <li><code>crontab -l > crontab.txt</code>  -  save as a file, good to backup your job</li>
            </ul>
        </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->


</div> 
