<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="page-header">
    <h1>GIT</h1>
</div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">GIT <span class="text-muted">commands</span></h2>
            <p>Use the following commands for GIT version control.</p>
            <ul>
                <li><code>git init</code> Creates an empty GIT project, starts on master</li>
                <li><code>git status</code> Shows the status of files in the current branch</li>
                <li><code>git add.</code></li>
                <li><code>git commit -m "comment"</code></li>
                <li><code>git push origin branchname</code></li>
                <li><code>git pull origin branchname</code></li>
                <li><code>git checkout.</code></li>
                <li><code>git branch branchname</code></li>
                <li><code>git checkout branchname</code></li>
                <li><code>git checkout -b branchname</code></li>
                <li><code>git branch -d branchname</code></li>
                <!-- <li><code></code></li> -->
            </ul>
        </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->


</div>
