<div class="row">
    <div class="col-md-12">
        <h2>Install GIT</h2>
        <h3>Install on Linux</h3>
        <p><code>sudo yum install git-all</code></p> 
        <h3>Install on Mac</h3>
        <p>Download on the <a href="http://git-scm.com/download/mac">Git website</a>.</p>
        <h3>Install on Windows</h3>
        <p>Download on the <a href="http://git-scm.com/download/win">Git website</a>.</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>GIT <span class="text-muted">commands</span></h2>
        <p>Use the following commands for GIT version control.</p>
        <p><code>git help</code> Opens the manual page.</p>
        <hr />
        <p><code>git init</code> Creates an empty GIT project, starts on master</p>
        <p><code>git status</code> Shows the status of files in the current branch</p>
        <p><code>git add.</code></p>
        <p><code>git commit -m "comment"</code></p>
        <p><code>git push origin branchname</code></p>
        <p><code>git pull origin branchname</code></p>
        <p><code>git checkout.</code></p>
        <p><code>git branch branchname</code></p>
        <p><code>git checkout branchname</code></p>
        <p><code>git checkout -b branchname</code></p>
        <p><code>git branch -d branchname</code></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>More information</h2>
        <p>More information can be found on the <a href="http://git-scm.com">Git website</a>.</p>
    </div>
</div>