@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="page-header">
    <h1>Tutorials</h1>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Command line</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="linux_command_line.php" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Linux permissions</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="linux_permissions.php" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <hr>
</div>
