<div class="row">
        <div class="col-md-12">
            <h3>About Me</h3>
            <p>
                Hello, my name is Paddy Lewis and I am a web developer. I live in Gloucester, so if you are looking for a web developer on a freelance project, please feel free to contact me.
            </p>
            <p>

                I would like to help your business move forward with current technology trends. This includes allowing you to easily update your website without any knowledge in any language other than those spoken. By choosing me, you will get a prompt service, allowing you to get exactly what you need, when you need it.
            </p>
            <h3>HTML / CSS</h3>
            <p>

                By using standards compliant HTML and CSS, I can ensure your website will look good, and continue looking good well into the future. One big advantage to this is if you were to decide on a change of look in the future, all that will need to be changed is the CSS document and your page will look brand new. No other editing required. This will save you not only time, but money.
            </p>
            <h3>Dynamic Content</h3>
            <p>

                By using PHP and MySQL, your site will be easily updateable and, if need be, display only the information you want to display to who you want it to be displayed. This means that you will be able to have private user content on your website, anything from private customer lists for employees, or just a simple way to log in and change information on the website.
            </p>
            <h3>Website Development</h3>
            <p>
                Website development can range from a simple updating system, to a full content management system that will allow you to control every aspect of your website. Development will allow you to update your website by logging in and simply clicking a button under the desired content. All that will be required is simply typing into a form that looks similar to the average word processor.
            </p>
            <h3>Website Updating</h3>
            <p>
                Website Updating is changing the content on your website to keep current. If you do not keep your web site up to date, you risk loosing potential or current customers.
            </p>
            <h3> Search Engine Optimization</h3>
            <p>

                Search engine optimization is the process of making your page look good to the search engines. Any website I build will offer a basic amount of search engine optimization, as building the website properly is a major part. But beyond that, SEO is a very large feat. It can sometimes take months of work, but can increase the amount of visitors to your site and get you to the top pages on the search engines.
            </p>
        </div>
    </div>
