body {
   /* padding-top: 50px; */
    padding-bottom: 20px;
    background-color: #E9EAD3;
   /* Margin bottom by footer height */
  margin-bottom: 150px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  color: #24598b;
  font-size: 26px;
}
h2 {
    color: #2c9acf;
    font-size: 20px;
  }
h3,
h4 {
  color: #2c9ace;
  font-size: 16px;
}
.pagetitle h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pagetitle h2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.socialLinks li {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
}
.socialLinks li a {
  display: block;
  height: 30px;
  width: 30px;
  padding: 0.4em;
  vertical-align: middle;
  border: 1px solid #627e9d;
  color: #627e9d;
}
.socialLinks li a:hover,
.socialLinks li a:focus {
  border: 1px solid #668bb2;
}
.topper {
  background: #E9EAD3;
  color: #37608F;
  position: relative;
  overflow: visible;
}
.topper h1 {
  color: #37608F;
      text-transform: uppercase;
    display: block;
    font-size: 1.1em;
    letter-spacing: 0.3em;
}
.topper a:hover,
.topper a:focus {
  text-decoration: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

@media (max-width: 1200px) {
  body {
    /* Margin bottom by footer height */
  margin-bottom: 300px;
  }
}
@media (max-width: 768px) {
  body {
    /* Margin bottom by footer height */
  margin-bottom: 400px;
  }
}
.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
  height: 150px;
  width: 100%;
  color: whitesmoke;
  background-color: #666;
  padding-top: 20px;
}
@media (max-width: 1200px) {
  .footer {
    /* Set the fixed height of the footer here */
  height: 300px;
  }
}
@media (max-width: 768px) {
  .footer {
    /* Set the fixed height of the footer here */
  height: 400px;
  }
}
footer object {
  width: 50%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 35%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  footer object {
    width: 20%;
    padding-top: 20%;
  }
}
@media (max-width: 768px) {
  footer object {
    width: 50%;
  }
}
footer object img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer .regional {
  text-transform: uppercase;
  display: block;
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.3em;
}
footer .title {
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.4em;
  display: block;
  margin-bottom: 0.4em;
}
@media (max-width: 1200px) {
  footer .title {
    margin-top: 0.8em;
  }
}
footer p,
footer ul,
footer ol {
  font-size: 0.9em;
}
footer ul,
footer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #fff;
  text-decoration: none;
}

/* Custom page CSS
-------------------------------------------------- */
.navbar-default .navbar-toggle .icon-bar {
    background-color: whitesmoke;
}
.navbar-default .navbar-brand {
  color: whitesmoke;
  font-size: 14px;
  
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: whitesmoke;
  background-color: #37608F;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default {
    background: #5391AA;
    color: whitesmoke;
}
.navbar-default .navbar-nav > li > a {
  color: whitesmoke;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: whitesmoke;
  background-color: #37608F;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #37608F;
}	
.left{
 float:left; margin-right:10px;
}

code {
  font-size: 80%;
}
.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}
.frame {
    width: 1280px;
    height: 800px;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
